# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg

# Build / distribution
dist/
build/
.eggs/

# Virtual environments
.venv/
venv/
env/


# Tools
.pytest_cache/
.mypy_cache/
.ruff_cache/

# IDE
.vscode/
.idea/

# OS
.DS_Store
